@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col s6">
        <h2>@ViewBag.Title.</h2>

        This website is to help the Booher family stay in touch!<br />
        We all have busy lives, and over the years it becomes easy to lose touch. <br />
        I have created this website to make contact info easily accessible and to <br />
        make it easy for people to post news and share information with each other. <br />
        I hope that you find it useful. If you have any questions, feel free to contact me! <br />
        <br /><br />
        Cody Booher<br />
        booher.cody@gmail.com
    </div>
</div>